%tr
  %td
    %strong= title
  - observations.each do |observation|
    %td
      %span.label.label-default{:style => "background: #{EWSColor(observation.measurement(type).getEWS)};"}
        = eval("observation.#{type}").humanize || 'nr'