$font-size-base: 5;
$navbar-color: #357ebd;


span.ews-score {
  background: #cccccc;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.6em;
}

.no-bullets{
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

ul.inline{
  > li{
    @media (min-width: 500px){
      display: inline;
    }
    @media (max-width: 500px){
      > a{width: 100%;}
    }
    margin: 5px 0;
  }
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

// Navbar

.navbar {
  background-color: $navbar-color;
  margin-bottom: 0;
  li > a {
    font-size: 1.2em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

ul.nav.navbar-nav > li{
  > a {
    color: white;
  }
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: $navbar-color white;
  &:hover{
    background-color: white;
    border: 1px solid white;
  }
}

ul.dropdown-menu > li > a {
   padding: 10px 20px;
}




// Styles for non-pdf docs.
#main{
  #details{
    font-size: 1.5em;
    font-weight: 200;
    line-height: 1.4;
  }

  .chart {
    height: 500px;
    padding-left: 0;
  }

  .patient-header{ // On index, the title with dropdown.
    h1{
      display: inline !important;
      position: relative;
      top: 10px;
      margin-right: 10px;
      @media (max-width: 768px) {
      display: none !important;
      }
    }
    select{
      @media (max-width: 768px) {
        margin-bottom: 10px;
      }
    }
  }

  // padding: 0 15px 100px 15px;

  table.footer {
    // margin: 50px 0;
    overflow-x: scroll;
  }

  .title-bar{
    background-color: #c8d7e5;
    padding: 20px 0;
    h1, h2, h3, h4, h5{
      margin-top: 0;
    }
  }
}

.not-flush{
  margin-top: 20px;
}

#pdf{
  font-size: 12px;
  width: 210mm;
  height: 297mm;
  .chart{
    width:  100%;
    height: 275px;
    margin: 0 !important;
  }
}

table.footer {
  margin-top: 20px;
  // border: 1px black solid;
}
.table-wrapper{
  width: 100%;
  overflow-x: scroll;
}

.page-break {
  page-break-after:always;
}

form.patient-header {
  font-size: 1.5em;
  font-weight: bold;
}

.reminder{
  padding-left: 10px;
  &:hover{
    cursor: pointer;

  }
  .buttons{
    font-size: 2em;
  }
}

/* Overwrite the default to keep the scrollbar always visible
Does not work in Firefox but yolo */

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/* Patching up formtastic-bootstrap CSS*/
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  margin-left: 0;
  position: relative;
  right: 20px;
}
.radio {
  position: relative;
  left: 20px;
  text-indent: -10px;
}

.lead {
  font-size: 21px;
}
