$font-size-base: 5;

span.score {
  background: #cccccc;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.6em; 
}

#details{
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.navbar {
  margin-top: 20px;
}
// Styles for non-pdf docs. 
#main{
  #details{
    font-size: 1.65em;
    font-weight: 200;
    line-height: 1.4;
  }

  .chart {
  	height: 500px;
    padding-left: 0;
  }

  .patient-header{ // On index, the title with dropdown. 
    h1{
      display: inline !important;
      position: relative;
      top: 10px;
      margin-right: 10px;
      @media (max-width: 768px) {
      display: none !important;
      }
    }
    select{ 
      @media (max-width: 768px) {
        margin-bottom: 10px;
      }
    }
    margin-bottom: 20px;
  }
  
  padding: 0 15px 100px 15px;

  .footer table {
    margin: 50px 0;
  }
}

#pdf{
  font-size: 12px;
  width: 210mm;
  height: 297mm;
  .chart{
    width:  100%;
    height: 180px;
    margin: 0 !important;
  }
}

.footer{
  table {
    width: 100%;
    position: relative;
    top: 50px;
    // border: 1px black solid;
  }
}