.title-bar
  .container
    %h1 All Wards

.container.not-flush
  %ul.lead.no-bullets
    - @wards.each do |ward|
      %li
        %strong= ward.name
        |
        = link_to 'edit', edit_admin_ward_path(ward)
        / = link_to 'delete', delete_ward_path(ward)
