.navbar-header
  / %button.navbar-toggle{:type => "button", "data-toggle" => "collapse", "data-target" => ".navbar-links"}
  /   %span.sr-only Toggle navigation
  /   %span.icon-bar
  /   %span.icon-bar
  /   %span.icon-bar
  = link_to "DRI Early Warning System", root_path, :class => 'navbar-brand'

/ .collapse.navbar-collapse.navbar-links
/   %ul.nav.navbar-nav.navbar-right
/     %li= link_to "Patients", patients_path
/       